extends layout

block content
  h1= title
  -
    let items = results 
  div(class= "container-fluid")
    div(class = "row")
      each item,index in results
        div(class= "col-sm-2", onclick=`buy(${index})`) Brand: #{item.drinks_brand}
        div(class= "col-sm-2", onclick=`buy(${index})`) Quantity: #{item.drinks_quantity}
        div(class= "col-sm-2", onclick=`buy(${index})`) Cost: #{item.drinks_cost}
        br
        br
        
  script.
    function buy(itemNum){
      alert(`You purchased item ${itemNum+1}`)
    }